*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
}
.body{
  background-color: #222;
}
.banner{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url(image.jpg);
}
.slidar{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: black;

}
#slideImg{
  width: 100%;
  height: 100%;
  animation: zoom 3s linear infinite;
}

@keyframes zoom{
  0%{
      transform: scale(1.3);
  }
  15%{
      transform: scale(1);
  }
  85%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.3);
  }
}

.overlay{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  position: absolute;
  top: 0;
}

.navbar{
  display: flex;
  padding: 2% 0%;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.65);
   position: fixed;
   top: 0;
   left: 0;
   flex-direction: row;
   z-index: 99;
   width: 100%;
   height: 45px;
  
}

.navbar .fa{
  display: inline-block;
  color: #fff;
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
} 
.logo{
  flex-basis: 10%;
}
.logo img{
  width: 150px;
  cursor: pointer;
}
.menu-icons{
  flex: 1;
  align-items: center;
  text-align: right;
}

.menu-icons .nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  padding-bottom: 50px;
}

.menu-icons .nav-links ul li a{
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}










/* .header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/s3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
} */
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
   padding-bottom: 100px; 
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  padding-bottom: 50px;
}
.nav-links ul li a{
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(70, 194, 59);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: none;
}
.text-box h1{
  font-size: 62px;
    animation-duration: 10s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-top: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: rgba(0, 128, 0, 0.418);
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid red;
  background: red;
  transition: 1s;
}
nav .fa{
  display: none;
}
.navbar .fa{
  display: none;
}
@media(max-width: 700px){
  .text-box h1{
      font-size: 20px;
  }
  .nav-links ul li{
      display: block;
  }
  .nav-links{
      position: fixed;
      background: red;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }    
  nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
      
  }    
  .navbar .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }
  .nav-links ul{
      padding: 30px;
  }
  nav img{
      width: 80px;
  }
  .logo img{
      width: 80px;
      cursor: pointer;
  }
}

/*------- lESSONS -------*/
.less{
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(13, 13, 15, 0.7),rgba(4,9,30,0.7)),url(images/graduate1.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  
}
.lessons{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  
}
h1{
  font-size: 36px;
  font-weight: 300;
}
p{
  color: rgb(20, 19, 19);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.lesson-col{
  flex-basis: 31%;
  background: rgb(241, 236, 236);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: #000;
}
.lesson-col:hover{
  box-shadow: 0 0 20px 0px rgba(76, 163, 54, 0.795);
}
@media(max-width: 700px){
  .row{
      flex-direction: column;
  }
}


/*-------- CONGO -------*/

.congo{
  width: 100%;
  margin: auto;
  text-align: center;
  text-decoration-color: #fff3f3;
  padding-top: 50px;
  background-color: rgb(10, 15, 9);
}
ol{
  color: #fff;
  text-align: justify;
  padding-left: 80px;
  
}
.congo-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.congo-col img{
  width: 100%;
  display: block;
}
.layer{
 background: transparent; 
 height: 100%;
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 transition: 0.5s;
}

.layer h3{
  width: 100%;
  font-weight: 500;
  color: rgb(241, 7, 7);
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}

/* ------ FACILITIES ------ */

.acti{
  height: 80vh;
  width: 100%;
  background-color: darkolivegreen;
  
  background-size: cover;
  text-align: center;
  color: #fff;
}
.facilities{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  background-color: rgb(7, 10, 7);
  ;
}
.facilities-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;

}
h3{
  color: #fff3f3;
}

.facilities-col img{
  width: 100%;
  border-radius: 10px;
  /* height: 42%; */
}
.facilities-col p{
  padding: 0;
}
.facilities-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}


/* ------ TESTIMONIALS -----*/

.testimonials{
  width: 80%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}
.testimonial-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 10px;
  cursor: pointer;
  display: flex;
}
.testimonial-col img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonial-col p{
  padding: 0;
}
.testimonial-col h3{
  margin-top: 15px;
  text-align: left;
}
.testimonial-col .fa{
  color: #f44336;
}
@media(max-width: 700px){
  .testimonial-col img{       
      margin-left: 0px;
      margin-right: 15px;     
  }
}



/* Sliding images styling */
.slid{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff;
} 

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;

}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 600px;
}

/* css for manual slide navigation */

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #f44336;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #f44336;
  
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/* Css for automatic navigation */

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #f44336;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #f44336;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #f44336;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #f44336;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #f44336;
}









/* ----- FOOTER ----- */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 background-image: url(foot.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
  color: white;
  text-align: center;
}
h4{
    color: #FFF;
}
.icons .fa{
  color: #2c58d1;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart-o{
  color: #f44336;
}
h5{
color: white;
}
/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
  color: #008000;
}
.fab {
  color: #000000;
}


/* ---------- ABOUT US PAGE --------- */
.A APROPOS{
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/s12.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
/* .sub-header{
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/k4.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
} */
.sub-header h1{
  margin-top: 100px;
}

.about-us{
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 5px;
}

.about-col{
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img{
  width: 100%;
}

.about-col h1{
  padding-top: 0;
}
.about-col p{
  padding: 15px 0 25px;
}
.red-btn{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}
.red-btn:hover{
  color: #fff;
}

/* ----- graduate-content ----- */
.graduate-content{
  width: 80%;
  margin: auto;
  padding: 60px 0;
}
.graduate-left{
  flex-basis: 65%;
}
.graduate-left img{
  width: 100%;
}
.graduate-left h2{
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}
.graduate-left p{
  color: #999;
  padding: 0;
}

.graduate-right{
  flex-basis: 32%;
}
.graduate-right h3{
  background: #f44336;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
}
.graduate-right div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-sizing: border-box;
}

.comment-box{
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}
.comment-box h3{
  text-align: left;
}
.comment-form input, .comment-form textarea{
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}
.comment-form button{
  margin: 10px 0;
}

@media(max-width:700px){
  .sub-header h1{
      font-size: 24px;
  }
}

/* ------- contact us page ------- */
.cont{
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/k4.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe{
  width: 100%;
}
.contact-us{
  width: 80%;
  margin: auto;
}

.contact-col{
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact-col div .fa{
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}
.contact-col div p{
  padding: 0;
}
.contact-col div h5{
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}
.contact-col input, .contact-col textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
@media(max-width:700px){
  .contact-col div h5{
      font-size: 13px;
      margin-bottom: 5px;
      color: #555;
      font-weight: 400;
  }
}



@media(max-width:700px){

  .navigation-manual{
      position: absolute;
      width: 400px;
      margin-top: -40px;
      display: flex;
      justify-content: center;
  }
  
  .manual-btn{
      border: 2px solid #f44336;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
  }
  
  .manual-btn:not(:last-child){
      margin-right: 40px;
  }
  
  .manual-btn:hover{
      background: #f44336;
      
  }
  
  #radio1:checked ~ .first{
      margin-left: 0;
  }
  
  #radio2:checked ~ .first{
      margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
      margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
      margin-left: -60%;
  }
  
  /* Css for automatic navigation */
  
  .navigation-auto{
      position: absolute;
      display: flex;
      width: 400px;
      justify-content: center;
      margin-top: 460px;
  }
  
  .navigation-auto div{
      border: 2px solid #f44336;
      padding: 5px;
      border-radius: 10px;
      transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
      margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
      background: #f44336;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
      background: #f44336;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
      background: #f44336;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
      background: #f44336;
  }
  .slide img{
      width: 400px;
      height: 500px;
      margin-left: 0px;
      margin-right: 7px; 
  }
  .slider{
      width: 400px;
      height: 500px;
      border-radius: 10px;
      overflow: hidden;
  }
  
  .slides{
      width: 500%;
      height: 500px;
      display: flex;
  }
  
  .slides input{
      display: none;
  
  }
  
  .slide{
      width: 20%;
      transition: 2s;
  }
  

}